Virtual Assistant.json
{
  "name": "Virtual Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ab5c9da2-3b82-4d3a-8530-86cd20708a2f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -784,
        224
      ],
      "id": "740d9923-59b3-4785-94e9-b21b0d0399f4",
      "name": "Webhook",
      "webhookId": "ab5c9da2-3b82-4d3a-8530-86cd20708a2f",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -144,
        224
      ],
      "id": "0fd86653-de38-4dad-801a-5ff01833e492",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        272,
        912
      ],
      "id": "adf9661a-724b-44f4-add0-89ac4192747a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        272,
        752
      ],
      "id": "47b53056-80ff-4253-b885-cd8c5fd8836e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -544,
        736
      ],
      "id": "ac130f3f-bd24-4181-ab30-51a68aec79ad",
      "name": "Download file",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "F8rTZzdjaRGptnGz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        160,
        592
      ],
      "id": "d3b05faf-7aad-4ad6-8ad3-93d81c51a0a4",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "WeOxsLb3bfIvPEVP",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -784,
        384
      ],
      "id": "34e05a12-92f8-4152-9f31-5b7892979a14",
      "name": "When chat message received",
      "webhookId": "ac40dec8-b542-49d1-8ee0-165d5b0e0c40"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        336,
        416
      ],
      "id": "7c813d48-3267-46a5-9743-2a94b787adc2",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "NHO55OQ651OKaJnn",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve Bosch data from vector database for knowledge base",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "topK": 10,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        176,
        240
      ],
      "id": "3432ff55-d30c-4d13-b9e1-a2268215ad72",
      "name": "VectorDB",
      "credentials": {
        "pineconeApi": {
          "id": "WeOxsLb3bfIvPEVP",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -496,
        416
      ],
      "id": "43838b64-d8a1-4aa1-8410-298fe974b2b9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ofvBePjGWAlPaLAp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536,
          "batchSize": 512,
          "stripNewLines": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        416
      ],
      "id": "e9fb4398-4b11-4d43-be9d-750c02be2d53",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ofvBePjGWAlPaLAp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ONC5RfL7whWZ9avxGb_u1AU1FMFd4ukM",
          "mode": "list",
          "cachedResultName": "Virtual Assistant",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ONC5RfL7whWZ9avxGb_u1AU1FMFd4ukM"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        736
      ],
      "id": "1f733e7c-f69f-4f21-a790-54568e49c688",
      "name": "File Updated",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "F8rTZzdjaRGptnGz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "afebc034-4fe3-4569-9547-0f1ef7209a86",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "12d660b3-90b6-4714-a1b5-a8c30b913a9b",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        736
      ],
      "id": "dc8c6398-27a7-4a1f-a493-d93fede683ba",
      "name": "Set File ID"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -128,
        896
      ],
      "id": "9a047114-c304-4e79-a75c-bf04148f4872",
      "name": "Extract Document Text"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -128,
        592
      ],
      "id": "41e23515-3688-466b-9893-d5416c587f3a",
      "name": "Extract PDF Text"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -256,
        736
      ],
      "id": "5ebb3c77-8205-4056-86b6-ba8b4066747f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -128,
        736
      ],
      "id": "ac3dbf6d-6c44-4c0c-aaa2-9d8a3f6e4ab9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        0,
        736
      ],
      "id": "a1ebfd27-fea2-44fd-b220-a20d108c4e6d",
      "name": "Summarize"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        752
      ],
      "id": "149ec9e4-fc6c-4ed6-8c25-e5c51ca14a1e",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ofvBePjGWAlPaLAp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4cd1804e-5bbb-4816-9e21-cb7405d0b6ed"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5c606709-f584-49e9-8f4b-9d0a85ca2170",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6e845058-01ec-44ca-abb2-73f1d2dc98f9",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -400,
        720
      ],
      "id": "75b659db-b196-4479-9b7b-d472c4b08a99",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a92faf5-b352-4568-b8c6-7a72a25ddc1c",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput || $('Webhook').item.json.body.question }}",
              "type": "string"
            },
            {
              "id": "5691c381-27c6-4441-b169-1b2fab07f310",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        224
      ],
      "id": "cbe1670b-4492-4eed-8e55-e5f23174a4aa",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -336,
        416
      ],
      "id": "03215267-6ccb-47f9-987f-41878272fffc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.chatInputWebHook || $('Edit Fields').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -432,
        224
      ],
      "id": "aa494f64-a705-4731-a29d-74b9c9d06f9c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 384,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        160
      ],
      "typeVersion": 1,
      "id": "01eb76d9-fffb-4975-bbe7-8b97cc1da617",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 384,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        160
      ],
      "id": "03a09ab1-c615-487c-98bd-fb4cd9ca9b31",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 512,
        "width": 1376,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        560
      ],
      "id": "603fc343-befd-48b8-88b8-533756d99327",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "VectorDB",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "VectorDB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "VectorDB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "q4JJdxS20mGH5y0J"
  },
  "versionId": "c6914161-7949-45fd-91f7-56534a99fd8c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "048e5da68c878ddb77a3000d0f0fa9714f9f69abd1121702a8a8d7f5fe8447e5"
  },
  "id": "q4JJdxS20mGH5y0J",
  "tags": []
}